<!DOCTYPE html>
<html>

<h1 style="color:darkgray;text-align: center;font-size:80px;font-family:Arial Rounded MT Bold">Success After Prison</h1>
<br> <button type="button" onclick="alert('Home Page')">Home Page!</button>&nbsp;&nbsp;&nbsp; <button type="button"
    onclick="alert('Client Page')">Client Page!</button>&nbsp;&nbsp;&nbsp; <button type="button"
    onclick="alert('Resources Page')">Resources Page!</button>

<head>
    <title>Success After Prison</title>
</head>

<body style="background-color:#dcc3e7;">


    <div style="border: 3px solid blue;text-align: center;font-size:30px "><b>Here we offer a circle of support for all
            individuals who are impacted by the Justice System. </b></div>

</body>

</html>


<h2>Client Information</h2>
<form action="" method="post">
    {% csrf_token %}

    <label for="username">User name:</label><br>
    <input type="text" id="username" name="username" placeholder="jdoe"><br>

    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="Jane"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" placeholder="Doe"><br><br>

     <input type="submit" value="Submit">
</form>
<p>If you click the "Submit" button".</p>


<h2>I need help with?</h2>
<p>'Click the checkboxs you need help with'.<strong> "</strong> </p>

<form action="/action_page.php">
    <input type="checkbox" id="Government Id Card" name="Government Id Card" value="Government Id Card">
    <label for="Government Id Card"> Need help with Government Id Card</label><br>
    <input type="checkbox" id="food" name="food" value="Food">
    <label for="food"> Need help with Food/SNAP</label><br>
    <input type="checkbox" id="Medical Isurance" name="Medical Isurance" value="Medical Isurance">
    <label for="Medical Isurance"> Need help with Medical Isurance</label><br>
    <input type="checkbox" id="clothing" name="clothing" value="Clothing">
    <label for="clothing"> Need help with Clothing</label><br>
    <input type="checkbox" id="housing" name="housing" value="Housing">
    <label for="housing"> Need help with Housing</label><br><br>
    <input type="checkbox" id="" name="job training" value="Job Training">
    <label for="job training"> Need help with Job Training</label><br>
    <input type="checkbox" id="education" name="education" value="Education">
    <label for="education"> Need help with Education</label><br>
    <input type="checkbox" id="" name="birth certificate" value="Birth Certificate">
    <label for="birth certificate"> Need help with Birth Certificate</label><br>
    <input type="checkbox" id="social securty card" name="social securty card" value="Social Securty Card">
    <label for="social securty card"> Need help with Social Securty Card</label><br>
    <input type="submit" value="Submit">
</form>

</body>

</html>