<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            div {background-color: #dcc3e7;}
            button {vertical-align: center;}
            img {vertical-align: center;}
            body {
                background-color:#dcc3e7;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        </style>
        <title>Client Page</title>
                
    </head>
    <body>
    <h1>Success After Prison</h1>
    <div class= "container">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'client' %}">Client</a>
        <a href="{% url 'resource' %}">Resource</a>
        <a href="{% url 'blog' %}">Blog</a>
        {% if known_user %}
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a> or 
        <a href="{% url 'create_account' %}">create account</a>
        {% endif %}
        
    </div>

<h2>Client Information</h2>
<form action="" method="post">
    {% csrf_token %}

    <label for="username">User name:</label><br>
    <input type="text" id="username" name="username" placeholder="jdoe"><br>

    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="Jane"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" placeholder="Doe"><br><br>

    <label for="bio"> Bio:</label><br>
    <textarea id="bio" name="bio"></textarea><br>

     <input type="submit" value="Submit">
</form>
<p>If you click the "Submit" button".</p>


<h2>I need help with?</h2>
<p>'Click the checkboxs you need help with'.<strong> "</strong> </p>

<form action="/action_page.php">
    <input type="checkbox" id="Government Id Card" name="Government Id Card" value="Government Id Card">
    <label for="Government Id Card"> Need help with Government Id Card</label><br>
    <input type="checkbox" id="food" name="food" value="Food">
    <label for="food"> Need help with Food/SNAP</label><br>
    <input type="checkbox" id="Medical Isurance" name="Medical Isurance" value="Medical Isurance">
    <label for="Medical Isurance"> Need help with Medical Isurance</label><br>
    <input type="checkbox" id="clothing" name="clothing" value="Clothing">
    <label for="clothing"> Need help with Clothing</label><br>
    <input type="checkbox" id="housing" name="housing" value="Housing">
    <label for="housing"> Need help with Housing</label><br><br>
    <input type="checkbox" id="" name="job training" value="Job Training">
    <label for="job training"> Need help with Job Training</label><br>
    <input type="checkbox" id="education" name="education" value="Education">
    <label for="education"> Need help with Education</label><br>
    <input type="checkbox" id="" name="birth certificate" value="Birth Certificate">
    <label for="birth certificate"> Need help with Birth Certificate</label><br>
    <input type="checkbox" id="social securty card" name="social securty card" value="Social Securty Card">
    <label for="social securty card"> Need help with Social Securty Card</label><br>
    <input type="submit" value="Submit">
</form>

</body>

</html>