<html>
    <center>
    <head>
        <style>
            div {background-color: #dcc3e7;}
            button {vertical-align: center;}
            img {vertical-align: center;}
        </style>
        <html>
          <head>
            <head>
              <title>HTML Background </title>
           </head>
           <body style="background-color:#dcc3e7;">
          </head>
          <body>
    </head>
    <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
        

    
</html>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<h2 align="center">Success After Prison</h2>

<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


</div>
</nav>

<div class= "container">
	<a href="{% url 'home' %}">Home</a>
	<a href="{% url 'client' %}">Client</a>
	<a href="{% url 'resource' %}">Resource</a>
	<a href="{% url 'blog' %}">Blog</a>
	
</div>
</body>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   
  </head>
  <body>
   <header>
   </header>
   <img src="Hands.png" alt="Work Together"
   style="width:450px; height:300px;">
</html>
</span>


<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<p> Our goal is to help justice impacted individuals have a centralized locations for resources.</p>
  <p>Resources that we know sometimes feel unobtainable due to our circumstances at the moment. </p>
  <p>We are here to help.</p> </span> </body>

  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <img src="Screen Shot 2021-12-16 at 2.21.17 PM.png" alt="Co-workers"
  style="width:300px; height:200px;">

  <img src="single mom working.png" alt="single mom working"
  style="height: 200px; width:300px;">

  <img src="Returning.png" alt="ReturningCitzen"
  style="height: 200px; width:300px;">


  <p>
      <b><i>"We strongly believe once a person has served their time, 
      they should not be made to continue paying for their past mistakes."</b></i></p>


      <br> 

      <p><i><b>We Are Success After Prison</i></p></b>


      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    </center>