<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resource</title>
</head>
  
<body>
    <h1>Resources</h1>
    <div>
        <p>
            Our Resource Library offers direct access to organizations who provide services to support justice impacted  individuals. THE ORGANIZATIONS LISTED MAY OFFER A RANGE OF OTHER SERVICES DEDICATED TO DELIVER SUPPORT TO PROMOTE SUCCESSFUL STABLE MEMBERS OF SOCIETY
        </p>
    </div>

    <h2>FIRST THING FIRST LETS MAKE SURE YOU HAVE ALL YOUR IDENTIFYING DOCUMENTS</h2>
    <h3>Obtain a copy of your Birth Certificate</h3>
    <div>
        <a href="https://www.ny.gov/services/get-copy-birth-certificate">BIRTH CERTIFICATE</a>
    </div>

    <h3>Obtain a copy of your Social Security Card</h3>
    <a href="https://ss-apply-us.com/ss-card/?utm_term=social%20security%20card%20replacement&utm_keyword=social%20security%20card%20replacement&campaign=14210980486&matchtype=e&utm_content=NYC&gclid=CjwKCAiAwKyNBhBfEiwA_mrUMhJ0FnH6JIt4zeVNt9gaczhPcLnVqmJ3y9dXiAD9WLQ00bHkEt6KLxoCUtcQAvD_BwE">SOCIAL SECURITY CARD</a>

    <h3>Obtain a permit or non- drivers id</h3>
    <a href="https://process.dmv.ny.gov/documentguide/dmv_license/DisplayPages/pwizgetAPermit.cfm">PERMIT AND NON DRIVERS </a>

    <h2>NEW YORK STATE FEDERAL BONDING PROGRAM</h2>
    <p>
        It is a unique tool to help a “Justice Impacted” job applicants get and keep a job. The program issues Fidelity Bonds, and is sponsored by the New York State Department of Labor
    </p>
    <a href="https://bonds4jobs.com/">FEDERAL BONDING</a>

    <h2>CERTIFICATE OF RELIEF</h2>
    <p>
        You are eligible for a Certificate of Relief from Disabilities if you have been convicted of any number of misdemeanors and no more than one felony. Two or more felony convictions in the same court on the same day are counted as one felony for determining your eligibility. The term “disability” refers to laws that disqualify people from holding certain jobs or other rights because of their conviction.
    </p>
    <a href="https://doccs.ny.gov/certificate-relief-good-conduct-restoration-rights">CERTIFICATE OF RELIEF</a>
    <h2>LEGAL HELP</h2>
    <p>
        PRO BONO ATTORNEYS TO HELP APPLY FOR Certificates of Relief from Civil Disabilities and Certificates of Good Conduct
    </p>

    <a href="https://www.nycla.org/NYCLA/Pro_Bono/For_General_Public/NYCLA/Pro_Bono/Need_Legal_Help.aspx?hkey=68a403ec-825b-4854-84e4-4f8289ebca1a">Legal Help</a>

    <h2>FINANCIAL ASSISTANCE AND MEDICAL COVERAGE</h2>
    <p>
        HUMAN RESOURCES HELP THOSE IN NEED WITH CASH /SNAP BENEFITS AND MEDICAID ASSISTANCE PUBLIC ASSISTANCE
    </p>
    <a href="https://access.nyc.gov/programs/cash-assistance/"Public Assistance></a>

    <h2>LOW COST OR FREE HEALTH COVERAGE></h2>
    <a href="https://access.nyc.gov/programs/health-insurance-assistance/"Medical Insurance></a>

    <h2>HOUSING--SHELTERS DEPARTMENT OF HOMELESS SERVICES FOR SINGLE ADULTS </h2>
    <a href="https://www1.nyc.gov/site/dhs/shelter/singleadults/single-adults-applying.page/">HOUSING</a>
    <h2>SUPPORTIVE HOUSING THE DOE FUND PROVIDES SINGLE ROOMS AND SINGLE APARTMENT UNITS THROUGHOUT NYC</h2>
    <a href="https://www.doe.org/programs/housing">SUPPORTIVE HOUSING</a>
    <h2>NYC HOUSING AUTHORITY--The New York City Housing Authority (NYCHA) provides decent and affordable housing in a safe and secure living environment  for low- and moderate-income residents throughout the five boroughs.</h2>
    <a href="https://www1.nyc.gov/site/dhs/shelter/singleadults/single-adults-applying.page/">SUPPORTIVE HOUSING</a>
    <h2>NYC HOUSING AUTHORITY--The New York City Housing Authority (NYCHA) provides decent and affordable housing in a safe and secure living environment  for low- and moderate-income residents throughout the five boroughs.</h2>
    <a href="https://www1.nyc.gov/site/nycha/eligibility/apply.page">APPLY FOR NYCHA HOUSING</a>
    <h2> HOUSING WORKS  PROVIDES PRIMARY HEALTH CARE /MENTAL /BEHAVIORAL HEALTH </h2>
    <a href="https://www.housingworks.org/services">HOUSING WORKS</a>
    <h2> YOUR WELL BEING MATTERS MOST PROJECT LIBERATION ---OFFERS FREE WEEKLY WORKSHOPS YOGA AND LIFE COACHING</h2>
    <a href="https://projectliberation.info/">PROJECT LIBERATION</a>
    <h2>FAITH BASED</h2>
    <a href="https://thriveforlife.org/behind">THRIVE FOR LIFE</a>

    <h2>EDUCATION AND JOB READINES</h2>
    <h2>BROOKLYN PUBLIC LIBRARY</h2>
    <a href=" PROVIDES FREE BASIC TRAINING TO INCREASE BASIC SKILLS 
    https://www.bklynlibrary.org/search?search=Adult+Learning&website=tru">BROOKLYN PUBLIC LIBRARY</a>

    <h2>NEW YORK STATE DEPARTMENT OF EDUCATION HIGH SCHOOL EQUILVALECY New York State selected the Test Assessing Secondary Completion (TASC™) to replace the General Educational Development (GED)</h2>

    <a href="http://www.acces.nysed.gov/what-hsetasc-test">TASC</a>

    <h2> COLUMBIA UNIVERSITY CENTER FOR JUSTICE </h2>
    <a href="https://centerforjustice.columbia.edu/justicethroughcode/">LEARN CODING AT COLUMBIA UNIVERSTITY</a>
    <h2>JOB TRAINING, SUPPORT, RESOURCES</h2>
    <h2> WOMEN PRISON ASSOCIATION BRIDGING THE GAP FOR WOMEN</h2>
    <a href="https://www.wpaonline.org/">WPA</a>
    <h2> OSBORNE ASSOCIATION </h2>
    <a href="https://www.osborneny.org/resources/">OSBORNE ASSOCIATION</a>
</body>
</html>
    