<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource</title>
</head>
<body>
    <h1>Resources</h1>
    <p>Our resource library offers direct access to organizations who provide services to support justice impacted  individuals. 
        THE ORGANIZATIONS LISTED MAY OFFER A RANGE OF OTHER SERVICES DEDICATED TO DELIVER SUPPORT TO PROMOTE SUCCESSFUL STABLE MEMEBERS OF SOCIETY</p>
<br>  
        <h2>FIRST THING FIRST LETS MAKE SURE YOU HAVE ALL YOU IDENTIFYING DOCUMENTS
            Identifying Docs</h2> 
<br>
        <h2>Obtain a copy of your birth certificate
        </h2>
        <a href="https://www.ny.gov/services/get-copy-birth-certificate">BIRTH CERTIFICATE</a>
<br>


<
 
</body>
</html>