<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource</title>
</head>
<body>
    <h1>Resources</h1>
    <p>Our Resource Library offers direct access to organizations who provide services to support justice impacted  individuals. 
        THE ORGANIZATIONS LISTED MAY OFFER A RANGE OF OTHER SERVICES DEDICATED TO DELIVER SUPPORT TO PROMOTE SUCCESSFUL STABLE MEMEBERS OF SOCIETY</p>
<br>  
        <h2>FIRST THING FIRST LETS MAKE SURE YOU HAVE ALL YOU IDENTIFYING DOCUMENTS
            Identifying Docs</h2> 
<br>
        <h2>Obtain a copy of your birth certificate
        </h2>
        <a href="https://www.ny.gov/services/get-copy-birth-certificate">BIRTH CERTIFICATE</a>
<br>
        <h2>Obtain a copy of your social security card
        </h2>
        <a href="https://ss-apply-us.com/ss-card/?utm_term=social%20security%20card%20replacement&utm_keyword=social%20security%20card%20replacement&campaign=14210980486&matchtype=e&utm_content=NYC&gclid=CjwKCAiAwKyNBhBfEiwA_mrUMhJ0FnH6JIt4zeVNt9gaczhPcLnVqmJ3y9dXiAD9WLQ00bHkEt6KLxoCUtcQAvD_BwE">SOCIAL SECURITY CARD</a>

<br>
        <h2>Obtain a Non permit of non- drivers id</h2>
            <a href="https://process.dmv.ny.gov/documentguide/dmv_license/DisplayPages/pwizgetAPermit.cfm">PERMIT AND NON DRIVERS </a>

<br>
<h2> NEW YORK STATE FEDERAL BONDING PROGRAM
    It is a unique tool to help a “high risk” job applicant get 
    and keep a job. The program issues Fidelity Bonds, and is 
    sponsored by the New York State Department of Labor</h2>
<br>
<a href="https://bonds4jobs.com/">FEDERAL BONDING</a>
<br>
<h2>CERTIFICATE OF RELIEF
You are eligible for a Certificate of Relief from Disabilities if you have been convicted of any number of misdemeanors and no more than one felony; two or more felony convictions in the same court on the same day are counted as one felony for determining your eligibility. The term “disability” refers to laws that disqualify people from holding certain jobs or other rights because of their conviction.<h2>
    <br>
    <a href="https://doccs.ny.gov/certificate-relief-good-conduct-restoration-rights">CERTIFICATE OF RELIEF</a>
<br>
<h2>LEGAL HELP... PRO BONO ATTORNEYS TO HELP APPLY FOR Certificates of Relief from Civil Disabilities and Certificates of Good Conduct</h2>

<a href="https://www.nycla.org/NYCLA/Pro_Bono/For_General_Public/NYCLA/Pro_Bono/Need_Legal_Help.aspx?hkey=68a403ec-825b-4854-84e4-4f8289ebca1a">Legal Help</a>


<br>
<h2>
    FINANCIAL ASSISTANCE AND MEDICAL COVERAGE
    HUMAN RESOURCES HELP THOSE IN NEED WITH CASH /SNAP BENEFITS AND MEDICAID ASSISTANCE
    PUBLIC ASSISTANCE </h2>
    <a href="https://access.nyc.gov/programs/cash-assistance/"public assistance></a>
    <br>
    <h2>LOW COST OR FREE HEALTH COVERAGE></h2>
    <br>
    <a href="https://access.nyc.gov/programs/health-insurance-assistance/"Medical Insurance></a>

<br>
<h2>HOUSING--SHELTERS DEPARTMENT OF HOMELESS SERVICES FOR SINGLE ADULTS </h2>
<br>
<a href="https://www1.nyc.gov/site/dhs/shelter/singleadults/single-adults-applying.page/">HOUSING</a>
<br>
<h2>SUPPORTIVE HOUSING THE DOE FUND
PROVIDES SINGLE ROOMS AND SINGLE APARTMENT UNITS THROUGHOUT NYC</h2>
<br>
<a href="https://www.doe.org/programs/housing">SUPPORTIVE HOUSING</a>
<br>
<h2>NYC HOUSING AUTHORITY--The New York City Housing Authority (NYCHA) provides decent and affordable housing in a safe and secure living environment  for low- and moderate-income residents throughout the five boroughs.</h2>
<br>
<a href="https://www1.nyc.gov/site/dhs/shelter/singleadults/single-adults-applying.page/">SUPPORTIVE HOUSING</a>
<h2>
    NYC HOUSING AUTHORITY--The New York City Housing Authority (NYCHA) provides decent and affordable housing in a safe and secure living environment  for low- and moderate-income residents throughout the five boroughs.</h2>

    <a href="https://www1.nyc.gov/site/nycha/eligibility/apply.page">HOUSING</a>




 
</body>
</html>