<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log in Page</title>
</head>
<body>
<h1>Log In</h1> 
<a href={% url "create_account" %}>Create Profile</a>
<a href={% url "logout" %}>log out</a>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
    </div>
    <button type="submit">SIGN IN</button>
</form>
</body>
</html>
