<html>
    <head>
        <style>
            div {background-color: #dcc3e7;}
            button {vertical-align: center;}
            img {vertical-align: center;}
        </style>
        <html>
          <head>
            <head>
              <title>HTML Backgorund Color</title>
           </head>
           <body style="background-color:#dcc3e7;">
          </head>
          <body>
    </head>
    <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
        

    
</html>

<h2 align="center">Success After Prison</h2>

<div>
  <button>Home</button>
  <button>Resources</button>
  <button>Success Stories</button>
</div>
</body>


   
  </head>
  <body>
   <header>
   </header>
   <img src="Hands.png" alt="Work Together"
   style="width:450px; height:200px;">
</html>
</span>
<span style="font-family: Verdana, Geneva, Tahoma, sans-serif;"

<p> Our goal is to help justice impacted individuals have a centralized locations for resources. 
  Resources that we know sometimes feel unobtainable due to our circumstances at the moment. 
  We are here to help.</p> </span> </body>